{% load django_vite %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{% static 'lineo-admin.js' %}"></script>

  {% vite_hmr_client %}
  {% vite_asset 'src/admin.js' %}
</head>

<body class="tw:bg-gray-50 tw:dark:bg-gray-900">

  <main class="card tw:mt-25 tw:mx-auto tw:w-md">
    <div class="card-body">
      {% block main %}{% endblock %}
    </div>
  </main>

</body>
</html>
