{% load django_htmx django_vite static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>
    <link href="{% static 'tailwind4.css' %}" rel="stylesheet">
    {% comment %}
    <link href="{% static 'formset/css/tailwind.css' %}" rel="stylesheet">
    <link href="{% static 'formset/css/collections.css' %}" rel="stylesheet">
    {% endcomment %}

    {% htmx_script %}

    {% vite_hmr_client %}
    {% vite_asset "src/admin.js" %}
</head>
<body class="bg-gray-50 dark:bg-gray-900" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<div class="flex flex-row">
    <div>{% include "lineo_admin/sidebar.html" %}</div>
    <div class="p-5">{% block main %}{% endblock %}</div>
</div>

{% include "lineo_admin/includes/drawer.html" %}

</body>
</html>
