{% extends 'lineo_admin/base.html' %}
{% load get %}

{% block main %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-gray-700 bg-white dark:bg-gray-700 dark:text-gray-400">
            <tr>
                {% for column in view.get_columns %}
                <th scope="col" class="px-6 py-3">{{ column.verbose_name|capfirst }}</th>
                {% endfor %}
                <th scope="col" class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700
                           border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                    {% for column in view.columns %}
                    <td class="px-6 py-4">{% get obj column %}</td>
                    {% endfor %}
                    <td class="px-6 py-4">
                        {% for action in view.actions %}
                            {% url action.viewname obj.pk as href %}
                            {% include "lineo_admin/includes/drawer-button.html"
                               with href=href icon=action.icon title=action.title %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
