{% extends 'lineo_admin/base.html' %}
{% load tw %}

{% block main %}
<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <c-h1>Sign in to your account</c-h1>
          <form method="post" class="space-y-4 md:space-y-6">
              {% csrf_token %}
              {% tw form.username placeholder="name@company.com" %}
              {% tw form.password placeholder="••••••••" %}
              <div class="flex items-center justify-between">
                  <c-link href="#">Forgot password?</c-link>
                  <div class="flex items-start">
                    <c-button type="submit">Sign in</c-button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>

{% endblock %}
